.footer {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 100px;
	height: 50px;
}

.board {
	border: 1px solid yellow;
	background: url(./img/arena.jpg) no-repeat center;
	background-size: cover;
}

.harry {
	z-index: 3;
}

.snitch {
	z-index: 2;
}

.bludger {
	z-index: 1;
};
